
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_1.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="../static/pictures/logo.png">
    <title>Login</title>
</head>
<body>
    <div class="signup-container">
        <h1>Log In</h1>
        <?php if(isset($message)): ?>
            <p><?php echo $message; ?></p>
        <?php endif; ?>
        <form method="POST">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
          
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
          
          <button type="submit" name="login">Log In</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        <a href="{{ url_for('index') }}">Home</a>
    </div>
</body>
</html>
